openapi: '3.0.3'
info:
  title: flux - OpenAPI-Document
  description:
    This is the OpenAPI 3.0 specification for the flux backend-API.
  version: v0
servers:
  - url: 'http://localhost:8620/'
externalDocs:
  description: See official flux GitHub-repository.
  url: 'https://github.com/RichtersFinger/flux'
tags:
  - name: user
    description: user API
  - name: index
    description: index API
  - name: static
    description: endpoints for static data
paths:
  /api/v0/ping:
    get:
      summary: ping test
      description: Returns 'pong'.
      tags:
        - default
      parameters:
        - $ref: '#/components/parameters/requestId'
      responses:
        '200':
          $ref: '#/components/responses/GenericResponseNoContent'
  /api/v0/user/register:
    post:
      summary: register new user
      description: Returns OK if user has been created successfully.
      tags:
        - user
      parameters:
        - $ref: '#/components/parameters/requestId'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                content:
                  type: object
                  description: request payload
                  properties:
                    username:
                      type: string
                      description: username for new account
                      example: user0
                      pattern: /[a-z][a-z0-9\.@_-]+/
                    password:
                      type: string
                      description: password for new account
                      example: 202cb962ac59075b964b07152d234b70
                  required:
                    - username
                    - password
      responses:
        '200':
          $ref: '#/components/responses/GenericResponseNoContent'
    delete:
      summary: delete user
      description: Returns OK if user has been deleted.
      tags:
        - user
      security:
        - sessionCookieAuth: []
      parameters:
        - $ref: '#/components/parameters/requestId'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                content:
                  type: object
                  description: request payload
                  properties:
                    password:
                      type: string
                      description: password for new account
                      example: 202cb962ac59075b964b07152d234b70
                  required:
                    - password
      responses:
        '200':
          $ref: '#/components/responses/GenericResponseNoContent'
  /api/v0/user/session:
    post:
      summary: create new session
      description: Returns session id as cookie if successful.
      tags:
        - user
      parameters:
        - $ref: '#/components/parameters/requestId'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                content:
                  type: object
                  description: request payload
                  properties:
                    username:
                      type: string
                      description: user name
                      example: user0
                    password:
                      type: string
                      description: user password
                      example: 202cb962ac59075b964b07152d234b70
                  required:
                    - username
                    - password
      responses:
        '200':
          $ref: '#/components/responses/GenericResponseNoContent'
    delete:
      summary: delete session
      description: Returns OK if session has been deleted.
      tags:
        - user
      security:
        - sessionCookieAuth: []
      parameters:
        - $ref: '#/components/parameters/requestId'
      responses:
        '200':
          $ref: '#/components/responses/GenericResponseNoContent'
    get:
      summary: validate session
      description: Returns OK if session is valid.
      tags:
        - user
      security:
        - sessionCookieAuth: []
      parameters:
        - $ref: '#/components/parameters/requestId'
      responses:
        '200':
          $ref: '#/components/responses/GenericResponseNoContent'
  /api/v0/user/password:
    put:
      summary: change user password
      description: Returns OK if new password has been set.
      tags:
        - user
      security:
        - sessionCookieAuth: []
      parameters:
        - $ref: '#/components/parameters/requestId'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                content:
                  type: object
                  description: request payload
                  properties:
                    currentPassword:
                      type: string
                      description: current password
                      example: 202cb962ac59075b964b07152d234b70
                    newPassword:
                      type: string
                      description: new password
                      example: 250cf8b51c773f3f8dc8b4be867a9a02
                  required:
                    - currentPassword
                    - newPassword
      responses:
        '200':
          $ref: '#/components/responses/GenericResponseNoContent'
  /api/v0/user/configuration:
    get:
      summary: get user configuration
      description: Returns current user configuration.
      tags:
        - user
      security:
        - sessionCookieAuth: []
      parameters:
        - $ref: '#/components/parameters/requestId'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    $ref: '#/components/schemas/ResponseMd'
                  content:
                    type: object
                    description: user configuration
                    properties:
                      user:
                        type: object
                        description: user info
                        properties:
                          name:
                            type: string
                            description: username
                            example: user0
                          isAdmin:
                            type: boolean
                            description: whether the user is an administrator
                        required:
                          - name
                          - isAdmin
                      settings:
                        type: object
                        description: user settings
                        properties:
                          volume:
                            type: integer
                            description: player volume
                            minimum: 0
                            maximum: 100
                            example: 85
                          autoplay:
                            type: boolean
                            description: default autoplay behavior
                            example: true
                        required:
                          - volume
                          - autoplay
                    required:
                      - user
                      - settings
                required:
                  - meta
    put:
      summary: update user configuration
      description: Returns OK if configuration has been updated.
      tags:
        - user
      security:
        - sessionCookieAuth: []
      parameters:
        - $ref: '#/components/parameters/requestId'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                content:
                  type: object
                  description: request payload
                  properties:
                    volume:
                      type: integer
                      description: player volume
                      minimum: 0
                      maximum: 100
                      example: 85
                    autoplay:
                      type: boolean
                      description: default autoplay behavior
                      example: true
      responses:
        '200':
          $ref: '#/components/responses/GenericResponseNoContent'
  /api/v0/index/records:
    get:
      summary: list available records
      description:
        Returns a list of available records for the given query.
      tags:
        - index
      security:
        - sessionCookieAuth: []
      parameters:
        - $ref: '#/components/parameters/requestId'
        - name: search
          in: query
          description: search filter
          required: false
          schema:
            type: string
        - name: type
          in: query
          description: content type
          required: false
          schema:
            $ref: '#/components/schemas/RecordType'
        - name: range
          in: query
          description: request subset of records
          required: false
          schema:
            type: string
            pattern: '/[0-9]+-[0-9]+/'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    $ref: '#/components/schemas/ResponseMd'
                  content:
                    type: object
                    properties:
                      count:
                        type: integer
                        description: number of records matching filters
                      records:
                        type: array
                        description: array of records
                        items:
                          $ref: '#/components/schemas/Record'
                    required:
                      - count
                      - records
                required:
                  - meta
  /api/v0/index/record/{recordId}:
    get:
      summary: get record info
      description: Returns record information.
      tags:
        - index
      security:
        - sessionCookieAuth: []
      parameters:
        - name: recordId
          in: path
          description: record identifier
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/requestId'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    $ref: '#/components/schemas/ResponseMd'
                  content:
                    allOf:
                      - $ref: '#/components/schemas/Record'
                      - type: object
                        properties:
                          content:
                            type: object
                            description: record details
                            properties:
                              seasons:
                                type: array
                                description: |-
                                  array of seasons for this record

                                  Only applies if record-type is 'series'.
                                items:
                                  type: object
                                  description: seasion information
                                  properties:
                                    id:
                                      type: string
                                      description: season identifier
                                    name:
                                      type: string
                                      description: season name
                                    episodes:
                                      type: array
                                      description: array of seasons in this season
                                      items:
                                        type: object
                                        description: episode information
                                        properties:
                                          id:
                                            type: string
                                            description: episode identifier
                                          name:
                                            type: string
                                            description: episode name
                                          metadata:
                                            type: object
                                            description: video/codec metadata
                                            additionalProperties: true
                                          thumbnail:
                                            type: string
                                            description: thumbnail identifier
                              specials:
                                type: array
                                description: |-
                                  array of specials for this record

                                  Only applies if record-type is 'series'.
                                items:
                                  type: object
                                  description: special information
                                  properties:
                                    id:
                                      type: string
                                      description: episode identifier
                                    name:
                                      type: string
                                      description: episode name
                                    thumbnail:
                                      type: string
                                      description: thumbnail identifier
                required:
                  - meta
  /video/{videoId}:
    get:
      summary: stream data
      description: Returns (chunk of) video stream.
      tags:
        - static
      security:
        - sessionCookieAuth: []
      parameters:
        - name: videoId
          in: path
          description: content identifier
          required: true
          schema:
            type: string
        - name: range
          in: header
          description: request chunk
          required: false
          schema:
            type: string
      responses:
        '200':
          description: success
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
  /thumbnail/{thumbnailId}:
    get:
      summary: download thumbnail
      description: Returns thumbnail.
      tags:
        - static
      security:
        - sessionCookieAuth: []
      parameters:
        - name: thumbnailId
          in: path
          description: content identifier
          required: true
          schema:
            type: string
      responses:
        '200':
          description: success
          content:
            image/*:
              schema:
                type: string
                format: binary
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    $ref: '#/components/schemas/ResponseMd'
                required:
                  - meta
components:
  securitySchemes:
    sessionCookieAuth:
      type: apiKey
      in: cookie
      name: fluxSession
  parameters:
    requestId:
      name: requestId
      in: query
      description: request identifier
      required: false
      schema:
        type: string
  schemas:
    RequestId:
      type: string
      description: request identifier
    ResponseMd:
      type: object
      description: response metadata
      properties:
        id:
          $ref: '#/components/schemas/RequestId'
        ok:
          type: boolean
          description:
            whether request has been processed successfully
        error:
          type: object
          description: problem description in case of error
          properties:
            code:
              type: integer
              description: error-code
              example: 400
            short:
              type: string
              description: short error description
              example: Bad request
            long:
              type: string
              description: long error description
              example: Missing required argument in request body.
          required:
            - code
            - short
            - long
      required:
        - ok
    Record:
      type: object
      description: record information
      properties:
        id:
          type: string
          description: record identifier
        type:
          $ref: '#/components/schemas/RecordType'
        name:
          type: string
          description: record name
        description:
          type: string
          description: record description
        thumbnailId:
          type: string
          description: thumbnail identifier
      required:
        - id
        - type
    RecordType:
      type: string
      description: record type identifier
      enum:
        - series
        - movie
        - collection
  responses:
    GenericResponseNoContent:
      description: success
      content:
        application/json:
          schema:
            type: object
            properties:
              meta:
                $ref: '#/components/schemas/ResponseMd'
            required:
              - meta
