openapi: '3.0.3'
info:
  title: flux - OpenAPI-Document
  description:
    This is the OpenAPI 3.0 specification for the flux backend-API.
  version: v0
servers:
  - url: 'http://localhost:8620/'
externalDocs:
  description: See official flux GitHub-repository.
  url: 'https://github.com/RichtersFinger/flux'
tags:
  - name: user
    description: user API
  - name: index
    description: index API
  - name: static
    description: endpoints for static data
paths:
  /api/v0/ping:
    get:
      summary: ping test
      description: Returns 'pong'.
      tags:
        - default
      responses:
        '200':
          description: success
          content:
            text/plain:
              schema:
                type: string
                example: pong
  /api/v0/user/register:
    post:
      summary: register new user
      description: Returns OK if user has been created successfully.
      tags:
        - user
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                meta:
                  $ref: '#/components/schemas/RequestMd'
                content:
                  type: object
                  description: request payload
                  properties:
                    username:
                      type: string
                      description: username for new account
                      example: user0
                      pattern: /[a-zA-Z0-9\.@_-]+/
                    password:
                      type: string
                      description: password for new account
                      example: 202cb962ac59075b964b07152d234b70
                  required:
                    - username
                    - password
      responses:
        '200':
          description: success
          content:
            text/plain:
              schema:
                type: string
                example: OK
        '409':
          description: fail
          content:
            text/plain:
              schema:
                type: string
                example: CONFLICT
    delete:
      summary: delete user
      description: Returns OK if user has been deleted.
      tags:
        - user
      security:
        - sessionCookieAuth: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                meta:
                  $ref: '#/components/schemas/RequestMd'
                content:
                  type: object
                  description: request payload
                  properties:
                    password:
                      type: string
                      description: password for new account
                      example: 202cb962ac59075b964b07152d234b70
                  required:
                    - password
      responses:
        '200':
          description: success
          content:
            text/plain:
              schema:
                type: string
                example: OK
  /api/v0/user/session:
    post:
      summary: create new session
      description: Returns session id if successful.
      tags:
        - user
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                meta:
                  $ref: '#/components/schemas/RequestMd'
                content:
                  type: object
                  description: request payload
                  properties:
                    username:
                      type: string
                      description: user name
                      example: user0
                    password:
                      type: string
                      description: user password
                      example: 202cb962ac59075b964b07152d234b70
                  required:
                    - username
                    - password
      responses:
        '200':
          description: success
          content:
            text/plain:
              schema:
                type: string
                example: OK
        '401':
          description: fail
          content:
            text/plain:
              schema:
                type: string
                example: UNAUTHORIZED
    delete:
      summary: delete session
      description: Returns OK if session has been deleted.
      tags:
        - user
      security:
        - sessionCookieAuth: []
      responses:
        '200':
          description: success
          content:
            text/plain:
              schema:
                type: string
                example: OK
    get:
      summary: validate session
      description: Returns OK if session is valid.
      tags:
        - user
      security:
        - sessionCookieAuth: []
      responses:
        '200':
          description: success
          content:
            text/plain:
              schema:
                type: string
                example: OK
        '401':
          description: fail
          content:
            text/plain:
              schema:
                type: string
                example: UNAUTHORIZED
  /api/v0/user/password:
    put:
      summary: change user password
      description: Returns OK if new password has been set.
      tags:
        - user
      security:
        - sessionCookieAuth: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                meta:
                  $ref: '#/components/schemas/RequestMd'
                content:
                  type: object
                  description: request payload
                  properties:
                    currentPassword:
                      type: string
                      description: current password
                      example: 202cb962ac59075b964b07152d234b70
                    newPassword:
                      type: string
                      description: new password
                      example: 250cf8b51c773f3f8dc8b4be867a9a02
                  required:
                    - currentPassword
                    - newPassword
      responses:
        '200':
          description: success
          content:
            text/plain:
              schema:
                type: string
                example: OK
        '401':
          description: fail
          content:
            text/plain:
              schema:
                type: string
                example: UNAUTHORIZED
  /api/v0/user/configuration:
    get:
      summary: get user configuration
      description: Returns current user configuration.
      tags:
        - user
      security:
        - sessionCookieAuth: []
      parameters:
        - $ref: '#/components/parameters/requestId'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    $ref: '#/components/schemas/ResponseMd'
                  content:
                    type: object
                    description: user configuration
                    properties:
                      darkMode:
                        type: boolean
                        description: whether dark mode is active
                        example: true
                    required:
                      - darkMode
                required:
                  - meta
    put:
      summary: update user configuration
      description: Returns OK if configuration has been updated.
      tags:
        - user
      security:
        - sessionCookieAuth: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                meta:
                  $ref: '#/components/schemas/RequestMd'
                content:
                  type: object
                  description: request payload
                  properties:
                    darkMode:
                      type: boolean
                      description: whether darkMode is active
                      example: true
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    $ref: '#/components/schemas/ResponseMd'
                  content:
                    type: object
                    description: user configuration
                    properties:
                      darkMode:
                        type: boolean
                        description: whether dark mode is active
                        example: true
                    required:
                      - darkMode
                required:
                  - meta
  /api/v0/index/records:
    get:
      summary: list available records
      description:
        Returns a list of available records for the given query.
      tags:
        - index
      security:
        - sessionCookieAuth: []
      parameters:
        - $ref: '#/components/parameters/requestId'
        - name: type
          in: query
          description: content type
          required: false
          schema:
            $ref: '#/components/schemas/RecordType'
        - name: range
          in: query
          description: request subset of records
          required: false
          schema:
            type: string
            pattern: '/[0-9]+-[0-9]+/'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    $ref: '#/components/schemas/ResponseMd'
                  content:
                    type: array
                    description: array of records
                    items:
                      $ref: '#/components/schemas/Record'
                required:
                  - meta
  /api/v0/index/record:
    get:
      summary: get record info
      description: Returns record information.
      tags:
        - index
      security:
        - sessionCookieAuth: []
      parameters:
        - $ref: '#/components/parameters/requestId'
        - name: recordId
          in: query
          description: record identifier
          required: true
          schema:
            type: string
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    $ref: '#/components/schemas/ResponseMd'
                  content:
                    $ref: '#/components/schemas/Record'
                required:
                  - meta
  /video:
    get:
      summary: stream data
      description: Returns (chunk of) video stream.
      tags:
        - static
      security:
        - sessionCookieAuth: []
      parameters:
        - name: id
          in: query
          description: content identifier
          required: true
          schema:
            type: string
        - name: range
          in: header
          description: request chunk
          required: false
          schema:
            type: string
      responses:
        '200':
          description: success
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
  /thumbnail:
    get:
      summary: download thumbnail
      description: Returns thumbnail.
      tags:
        - static
      security:
        - sessionCookieAuth: []
      parameters:
        - name: id
          in: query
          description: content identifier
          required: true
          schema:
            type: string
      responses:
        '200':
          description: success
          content:
            image/*:
              schema:
                type: string
                format: binary
components:
  securitySchemes:
    sessionCookieAuth:
      type: apiKey
      in: cookie
      name: fluxSession
  parameters:
    requestId:
      name: requestId
      in: query
      description: request identifier
      required: false
      schema:
        type: string
  schemas:
    RequestId:
      type: string
      description: request identifier
    RequestMd:
      type: object
      description: request metadata
      properties:
        id:
          $ref: '#/components/schemas/RequestId'
    ResponseMd:
      type: object
      description: response metadata
      properties:
        id:
          $ref: '#/components/schemas/RequestId'
        ok:
          type: boolean
          description:
            whether request has been processed successfully
        error:
          type: object
          description:
            problem description in case of error
          properties:
            code:
              type: string
              description: error-code
            short:
              type: string
              description: short error description
            long:
              type: string
              description: long error description
      required:
        - ok
    Record:
      type: object
      description: record information
      properties:
        id:
          type: string
          description: record identifier
        type:
          $ref: '#/components/schemas/RecordType'
        name:
          type: string
          description: record name
        description:
          type: string
          description: record description
        thumbnail:
          type: string
          description: thumbnail identifier
      required:
        - id
        - type
    RecordType:
      type: string
      description: record type identifier
      enum:
        - series
        - movie
        - collection
