@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .show-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #9e9e9e;
  }
  .show-scrollbar::-webkit-scrollbar-thumb {
    background-color: #c2c2c2;
    border-radius: 5px;
  }
  .show-scrollbar::-webkit-scrollbar-track {
    background-color: #e7e7e7;
  }
  .hide-scrollbar::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
  .hide-scrollbar::-webkit-scrollbar-track {
    background-color: transparent;
  }
  .show-dark-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #777777;
  }
  .show-dark-scrollbar::-webkit-scrollbar-thumb {
    background-color: #555555;
  }
  .show-dark-scrollbar::-webkit-scrollbar-track {
    background-color: #303030;
  }
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
}
::-webkit-scrollbar-track {
  border-radius: 5px;
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

select.no-arrow {
  -moz-appearance:none;
  -webkit-appearance:none;
  appearance:none;
}

.placeholder-box-bar {
  --duration: 2s;
  --range: 100vw;

  width: 4px;
  height: 100vh;
  animation: PlaceholderBoxAnimation var(--duration) linear infinite;
}

@keyframes PlaceholderBoxAnimation {
  0% {
    transform: translateX(-10vw);
  }
  50% {
    transform: translateX(-10vw);
  }
  100% {
    transform: translateX(var(--range));
  }
}
